/*my CSS file for the bootstrap project*/

body{
    padding-bottom: 80px;
}

#headerColor{
    color: red;
    font-family: 'Waiting for the Sunrise', cursive;
}

/*about.html*/
.page-header {
    margin-top: 0;
}
.panel-body {
    padding-top: 0;
}
.featureImg{
    padding-bottom: 20px;
}